{% extends "base.html" %} {% block content %} {% if question_list %}
<ul>
  {% for question in question_list.items %}
  <li>
    <!-- 게시물 번호 (템플릿 이용) -->
    {{ question_list.total - ((question_list.page - 1) * question_list.per_page) - loop.index0}}
    <a href="{{url_for('question.detail', question_id=question.id )}}"
      >{{question.subject}}</a
    >
    <!-- 템플릿을 이용한 필터 적용 -->
    {{ question.createdAt | datetime }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>질문이 없습니다.</p>
{% endif %}

<!-- pagination -->
<ul style="display: flex; justify-content: space-between;">
  <!-- previous page -->
  {% if question_list.has_prev %}
  <li>
    <a href="?page={{ question_list.prev_num }}">이전</a>
  </li>
  {% else %}
  <li>
    <a href="#">이전</a>
  </li>
  {% endif %} {% for page_num in question_list.iter_pages() %} {% if page_num %}
  {% if page_num != question_list.page %}
  <li>
    <a href="?page={{ page_num }}">{{ page_num }}</a>
  </li>
  {% else %}
  <li aria-current="page">
    <a href="#">{{page_num}}</a>
  </li>
  {% endif %} {% else %}
  <li>
    <a href="#">...</a>
  </li>
  {% endif %}
  {% endfor %}
    <!-- next page-->
  {% if question_list.has_next %}
    <li >
      <a href="?page={{ question_list.next_num }}">다음</a>
    </li>
    {% else %}
    <li >
      <a tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
    <!-- 페이징처리 끝 -->

  <a href="{{ url_for('question.create') }}">질문 등록하기</a>
  {% endblock %}
</ul>
