{% block content %}
<div>
  <h5>질문등록</h5>
  <!-- form이 submit 되는 형태가 post -->
  <form method="post">
    {{form.csrf_token}}
    <!-- form 오류를 나타내주는 방법, form.errors 이용 -->
    <!-- 오류표시 Start -->
    {% for field, errors in form.errors.items() %}
    <div role="alert">
      <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <!-- 오류표시 End -->

    <!-- form.subject.label은 subject의 라벨을, form.subject()는 subject의 입력폼을 의미. -->
    <div>
      <label for="subject">제목</label>
      <input
        type="text"
        name="subject"
        id="subject"
        value="{{ form.subject.data or '' }}"
      />
    </div>
    <div>
      <label for="content">내용</label>
      <input
        type="text"
        name="content"
        id="content"
        value="{{ form.content.data or '' }}"
      />
    </div>
    <button type="submit">저장하기</button>
  </form>
</div>
{% endblock %}
